body{
    background-image: url(../Background/BG\ Main.jpg);
}
.navLogo{
    width: 6rem ;
    height: 6rem;
    margin: 1px, 0px, 1px, 0px;
  }
  
 
.underline {
    display: inline-block;
    position: relative;
  }
  
  .underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0;
    background-color: #3e4570;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }
  
  .underline:hover::after {
    transform: scaleX(1);
    transform-origin:bottom left;
  }

.formulario{
    padding: 10px;
    background-color: #3e4570aa;
    border-radius: 1%;
    color: rgba(245, 245, 245, 0.739);
}
main{
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.enviando{
  opacity:0 ;
}
/* ICONS EFECT */
.icons:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
  }
  @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
  } 

  footer{
    background: #2f3557;
    border-top: white 2px;
  }
  
  .logors:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.55, 1.55, 1.55);
    transform: scale3d(1.55, 1.55, 1.55);
    }
    100% {
    -webkit-transform: scale3d(1.55, 1.55, 1.55);
    transform: scale3d(1.55, 1.55, 1.55);
    }
    } 
  
    .logoFooter{
      margin-top: 6rem;
    }
  
  