main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../Background/BG\ Main.jpg);
}
.contenedor{
  padding-top: 6;
  margin-top: 8;
  
}

  @media (max-width: 653px)  {
    .cards {
    width: 250px;
}
  }


.titulo{
  color: white;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  background-color: transparent;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0,0,0,.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: linear-gradient(-45deg, #f9d57a, #f6c67f, #f0a666, #e3874d, #d46a33);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

/* .card .back .link a {
  color: #f3f3f3;
} */

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
} 

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}



.navLogo{
    width: 6rem ;
    height: 6rem;
    margin: 1px, 0px, 1px, 0px;
  }
  
 
.underline {
    display: inline-block;
    position: relative;
  }
  
  .underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0;
    background-color: #3e4570;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }
  
  .underline:hover::after {
    transform: scaleX(1);
    transform-origin:bottom left;
  }


/* ICONS EFECT */
.icons:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
  }
  @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
  } 

  footer{
    background: #2f3557;
    border-top: white 2px;
  }
  
  .logors:hover {
    cursor: pointer;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.55, 1.55, 1.55);
    transform: scale3d(1.55, 1.55, 1.55);
    }
    100% {
    -webkit-transform: scale3d(1.55, 1.55, 1.55);
    transform: scale3d(1.55, 1.55, 1.55);
    }
    } 
  
    .logoFooter{
      margin-top: 6rem;
    }