.banner-image {
  background-image: url("../Background/HG\ Legacy.jpg");
  background-size: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.navLogo{
  width: 4rem ;
  height: 4rem;
  margin: 1px, 0px, 1px, 0px;
}

.regBtn{
  padding: 1px;
  border-radius: 2rem;
  align-items: center;
  background-color: #3e4570;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0;
  background-color: #3e4570;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin:bottom left;
}

.modal-content{
  background-color: #3e4570;
  border: 2px solid black;
  opacity: 70%;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
main {
  background-image: url(../Background/BG\ MainWLogo.jpg);
  opacity: 80%;
  background-attachment: fixed;
}

footer{
  background: #2f3557;
  border-top: white 2px;
}

.logors:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.55, 1.55, 1.55);
  transform: scale3d(1.55, 1.55, 1.55);
  }
  100% {
  -webkit-transform: scale3d(1.55, 1.55, 1.55);
  transform: scale3d(1.55, 1.55, 1.55);
  }
  } 

  .logoFooter{
    margin-top: 6rem;
  }

  #carouselExample {
    width: 1500px;
    justify-content: center;
    display: block;
  }

.deluxeEdition {
  width: 300px;
  height: 300px; 
}

.hCaption {
  margin-left:10rem ;
  font-size: smaller;
  text-shadow: 4px 4px 10px black;
}

.avadaKedavra {
  width: 400px;
  height: 400px;
}
.hCaption3 {
  margin-left:15rem ;
  font-size: smaller;
  text-shadow: 4px 4px 10px black;
  padding-bottom: 3rem;
}

.container__box{
    max-width: 1110px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.boxRPG1{
    width: 218px;
    height: 200px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 300ms ease;
  }
.boxRPG{
  position: absolute;
  width: 218px;
  height: 200px;
  transition: all 300ms ease;
  background-size: cover;
  background-image: url(../img/RPG.jpg);
  filter: blur(5px);
}

.boxRPG1:hover .boxRPG{
    filter: blur(0px);
    transform: scale(1.1);
    box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
    border: #15ff00 solid 2px;
    z-index: 1;
}
.boxFPS1{
  width: 218px;
  height: 200px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
}
.boxFPS{
position:absolute;
width: 218px;
height: 200px;
transition: all 300ms ease;
background-size: cover;
background-image: url(../img/FPS.jpg);
filter: blur(5px);
}

.boxFPS1:hover .boxFPS{
  filter: blur(0px);
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
  border: #15ff00 solid 2px;
  z-index: 1;
}
.boxAdv1{
  width: 218px;
  height: 200px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
}
.boxAdv{
position:absolute;
width: 218px;
height: 200px;
transition: all 300ms ease;
background-size: cover;
background-image: url(../img/ADVe.jpg);
filter: blur(5px);
}

.boxAdv1:hover .boxAdv{
  filter: blur(0px);
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
  border: #15ff00 solid 2px;
  z-index: 1;
}
.boxPlat1{
  width: 218px;
  height: 200px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
}
.boxPlat{
position:absolute;
width: 218px;
height: 200px;
transition: all 300ms ease;
background-size: cover;
background-image: url(../img/Plat.jpg);
filter: blur(5px);
}

.boxPlat1:hover .boxPlat{
  filter: blur(0px);
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
  border: #15ff00 solid 2px;
  z-index: 1;
}
.boxRet1{
  width: 218px;
  height: 200px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
}
.boxRet{
position:absolute;
width: 218px;
height: 200px;
transition: all 300ms ease;
background-size: cover;
background-image: url(../img/Ret.jpg);
filter: blur(5px);
}

.boxRet1:hover .boxRet{
  filter: blur(0px);
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
  border: #15ff00 solid 2px;
  z-index: 1;
}

.boxMOBA1 {
  width: 218px;
  height: 200px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
}
.boxMOBA{
position:absolute;
width: 218px;
height: 200px;
transition: all 300ms ease;
background-size: cover;
background-image: url(../img/MOBA.jpeg);
filter: blur(5px);
}

.boxMOBA1:hover .boxMOBA{
  filter: blur(0px);
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
  border: #15ff00 solid 2px;
  z-index: 1;
}

.boxMMO1 {
  width: 218px;
  height: 200px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
}
.boxMMO{
position:absolute;
width: 218px;
height: 200px;
transition: all 300ms ease;
background-size: cover;
background-image: url(../img/Lineage.jpg);
filter: blur(5px);
}

.boxMMO1:hover .boxMMO{
  filter: blur(0px);
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
  border: #15ff00 solid 2px;
  z-index: 1;
}


.boxSouls1 {
  width: 218px;
  height: 200px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
}
.boxSouls{
position:absolute;
width: 218px;
height: 200px;
transition: all 300ms ease;
background-size: cover;
background-image: url(../img/Souls2.jpg);
filter: blur(5px);
}

.boxSouls1:hover .boxSouls{
  filter: blur(0px);
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
  border: #15ff00 solid 2px;
  z-index: 1;
}

.boxOtr1 {
  width: 218px;
  height: 200px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
}
.boxOtr{
position:absolute;
width: 218px;
height: 200px;
transition: all 300ms ease;
background-size: cover;
background-image: url(../img/Otros.jpg);
filter: blur(5px);
}

.boxOtr1:hover .boxOtr{
  filter: blur(0px);
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
  border: #15ff00 solid 2px;
  z-index: 1;
}


.boxCoop1 {
  width: 218px;
  height: 200px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 300ms ease;
}
.boxCoop{
position:absolute;
width: 218px;
height: 200px;
transition: all 300ms ease;
background-size: cover;
background-image: url(../img/Coop3.jpg);
filter: blur(5px);
}

.boxCoop1:hover .boxCoop{
  filter: blur(0px);
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
  border: #15ff00 solid 2px;
  z-index: 1;
}


.cardText h1 {
    font-family: 'Righteous';
    width: 218px;
    height: 200px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: none;
    color: rgb(255, 191, 0);
    z-index: 2;
  }

  .cardText h1:hover {
    transform: scale(1.2);
    transition: all 600ms ease;
  }
